{% extends 'user/base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}

{% if messages %}
 {% for message in messages %}
	<script>
		alert('{{ message }}');
	</script>
 {% endfor %}
{% endif %}

<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url('{% static 'assets/images/breadcrumb/0.breadcrumb-bg.jpg' %}');">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">Harmony Events</span>
									<h2 class="big-title"> <strong>Register</strong> Page</h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="{% url 'login' %}" class="breadcrumb-link">Login</a></li>
										<li class="breadcrumb-item active"> <a href="" aria-current="page">Register</a></li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->
<!-- contact-section - start
		================================================== -->
		<section id="contact-section" class="contact-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- section-title - start -->
				<div class="section-title mb-50">
					<small class="sub-title">Account Register</small>
					<h5 class="big-title">HAVE AN ACCOUNT ? <strong><a href="{% url 'login' %}">Login </strong></a> Now</h5>
				</div>
				<!-- section-title - end -->

				<!-- contact-form - start -->
                

				<div class="contact-form form-wrapper text-center">
					<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
					  {% csrf_token %}
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="">
							  <select id="event-category-select" name="role" onchange="toggleAdditionalImagesField()" class="form-item p-lg-2" style="max-width:100%; background-color: #f7f7f7; border-color: #f0f0f0; padding: 0px 25px; ">
								  <option value="" disable selected>Select Role</option>
								  <option value="user">Workhand</option>
								  <option value="vendor">Company</option>
							  </select>
							</div>
						</div>
					
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-item">
							  <input type="text" name="username" placeholder="Username" required>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12" id="first_name" style="display : block;">
						  <div class="form-item">
							<input type="text" name="first_name" placeholder="First Name">
						  </div>
						</div>
				  
						<div class="col-lg-6 col-md-6 col-sm-12"id="last_name" style="display : block;">
						  <div class="form-item">
							<input type="text" name="last_name" placeholder="Last name">
						  </div>
						</div>
				  
						<div class="col-lg-12 col-md-12 col-sm-12" id = "company-name" style = "display: none;">
							<div class="form-item">
							  <input name="company_name" type="text" placeholder="Company name">
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12">
						  <div class="form-item">
							<input type="password" name="password" placeholder="Password" required>
						  </div>
						</div>
				  
						<div class="col-lg-6 col-md-6 col-sm-12">
						  <div class="form-item">
							<input type="password" name="confirm_password" placeholder="Confirm Password" required>
						  </div>
						</div>
				  
						<div class="col-lg-6 col-md-6 col-sm-12">
						  <div class="form-item">
							<input name="email" type="email" placeholder="Email Address" required>
						  </div>
						</div>
				  
						<div class="col-lg-6 col-md-6 col-sm-12">
						  <div class="form-item">
							<input type="tel" class="no-arrow" name="number" pattern="[0-9]{10}" placeholder="Phone number" required>
						  </div>
						</div>
				  
						<div class="col-lg-12 col-md-12 col-sm-12">
						  <div class="form-item">
							<input type="text" name="street_address" placeholder="Street Address" required>
						  </div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="">
							  <select name="state" id="state" class="form-item p-2" style="max-width:100%; background-color: #f7f7f7; border-color: #f0f0f0 ">
								{% for i in States %}
									<option value="{{i.id}}" selected>{{i.state_name}}</option>
								{% endfor %}
								<option disable selected>Choose State</option>
							  </select>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-12">
						  <div class="">
							<select name="city" id="city" class="form-item p-2" style="max-width:100%; background-color: #f7f7f7; border-color: #f0f0f0 ">
								<!--{% for i in city %}
									<option value={{i.id}}>{{i.city_name}}</option>
								{% endfor %}-->
								<option value="" disable selected>City</option>
							</select>
						  </div>
						</div>
				  
						<div class="col-lg-12 col-md-12 col-sm-12" id = "special-skill" style = "display: block;">
							<div class="form-item">
							  <input type="text" name="special_skill"  placeholder="Any Special Skill">
							</div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12" id="user_profile_pic" style = "display: block;">
							<div class="form-item">
								<label for="file">Upload your profile photo</label>
							  <input class="p-2" type="file" id="image" name="profile_image" accept="image/png, image/jpeg" />
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12" id="Discriotion-field" style="display: none;">
							<div class="form-item">
								<textarea name="discription" placeholder="Discriotion About Company"></textarea>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12" id="additional-images-field" style="display: none;">
						  <div class="form-item">
							<label for="file">Upload Your Company Logo</label>
							<input class="p-2" type="file" id="additional-images" name="company_logo">
						  </div>
						</div>

				  
						<div class="col-lg-12 col-md-12 col-sm-12">
						  <button type="submit" class="custom-btn">Register</button>
						</div>
					  </div>
					</form>
				  </div>
				<!-- contact-form - end -->
			</div>
		</section>

		<!-- contact-section - end
		================================================== -->


{% endblock content %}

